.brand {
    text-align: center;
    font-family: optima;
    color: silver;
    font-size: 200%;
    font-style: italic;
}


#emblem {
    display: block;
    margin-left:auto; 
    margin-right: auto; 
    margin-top: 200px;
    width: auto;
    height: 600px;
}

.block {
    display: block;
    margin-left:auto; 
    margin-right: auto; 
    margin-top: 200px;
    width: auto;
    height: 600px;
}
.gif {
    margin-top: 60px;
    margin-left: 20px;
}
.hidden {
    position: relative; 
    width: 1000px;
    margin-left: 22%;
    margin-top: 90px;
    text-align: center;
 
}
.hood {
   display: block;
   width: 1000px;
   
}
.overlay {
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    color: rgb(170, 170, 170);
    font-family: optima;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    opacity: 0;
    transition: opacity .25s;

}
 .overlay:hover {
    opacity: 1;
    backdrop-filter: blur(15px);
 }
 .est {
    font-family: optima;
    color: rgb(170, 170, 170);
    margin-left: 500px;
 }
